/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111;
  padding: 10px 20px;
  color: white;
  flex-wrap: wrap; /* Allows content to wrap on smaller screens */
}

.navbar-left {
  flex: 0 0 auto;
}

.navbar-center {
  flex: 1;
  text-align: center;
  margin-top: 10px; /* Add a little space for mobile devices */
}

.nav-links {
  list-style: none;
  display: inline-flex;
  gap: 30px;
  margin-bottom: 8px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #f39c12;
}

.navbar-right {
  display: flex;
  gap: 15px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack the items vertically */
    padding: 10px;
  }

  .nav-links {
    flex-direction: column; /* Stack links vertically */
    gap: 15px;
  }

  .navbar-center {
    margin-top: 20px; 
   
  }

  .navbar-right {
    justify-content: center;
    gap: 10px;
  }

  .nav-links li {
    font-size: 14px;
  }
}

/* Logo Styling */
.logo {
  height: 150px;
  width: auto;
  margin-top: 20px;
}

/* Welcome Message Styling */
.welcome-message {
  font-size: 0.7rem;
  color: #ccc;
  line-height: 1.4;
  max-width: 400px;
  margin: 0 auto;
}
